body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: $color-light-gray-1;
}

.navbar {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

.navbar__logo {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 7px;
  font-size: 3.2rem;
  background: -webkit-linear-gradient(
    right,
    $color-secondary-green,
    $color-primary-blue
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  color: $color-light-gray-2;
  font-size: 2.5rem;
  text-align: center;

  &--cta {
    color: $color-dark-gray-2;
  }

  @include respond(phone) {
    font-size: 2rem;
  }
}

.header {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 7px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 2px 5px rgba($color-dark-gray-1, 0.6);

  @include respond(small-screen) {
    letter-spacing: 6px;
    font-size: 2.7rem;
    text-shadow: 0 1px 3px rgba($color-dark-gray-1, 0.6);
  }

  @include respond(phablet) {
    letter-spacing: 5px;
  }

  @include respond(phone) {
    letter-spacing: 2px;
  }

  @include respond(phoneS) {
    font-size: 2.3rem;
  }

  &--tech {
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 2px;
    @include respond(small-screen) {
      text-align: center;
    }
  }

  &--offer {
      margin-top: 12rem;

      @include respond(small-screen) {
        margin-top: 7rem;
      }
    }

  &--small {
    font-size: 2.5rem;
    letter-spacing: 4px;
  }

  &--smaller {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

.main-header {
  font-size: 8rem;
  margin: 20rem 0.5rem 0 0.5rem;
  text-align: center;
  letter-spacing: 18px;

  @include respond(small-screen) {
    letter-spacing: 10px;
    font-size: 5rem;
  }

  @include respond(phablet) {
    font-size: 4.5rem;
  }

  @include respond(phoneL) {
    letter-spacing: 7px;
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 3.4rem;
  }


  @include respond(phoneS) {
    font-size: 3.2rem;
    letter-spacing: 5px;
  }
}

.sub-header {
  @include respond(phablet) {
    letter-spacing: 4px;
    font-size: 2rem;
  }

  @include respond(phoneS) {
    font-size: 1.5rem;
  }
}

.section__about {
  color: $color-dark-gray-2;
  font-size: 2.2rem;

  @include respond(laptop) {
    font-size: 2rem;
  }

  @include respond(phoneL) {
    font-size: 1.8rem;
  }

  @include respond(phoneS){
    font-size: 1.6rem
  }
}

.section__tech {
  font-size: 2rem;
  @include respond(small-screen) {
    text-align: center;
  }
}

.section__offer {
  color: $color-dark-gray-2;
  font-size: 2.2rem;

  @include respond(laptop) {
    font-size: 2rem;
  }

  @include respond(phoneL) {
    font-size: 1.8rem;
  }

  @include respond(phoneS){
    font-size: 1.6rem
  }
}

.paragraph {
  margin-top: 2rem;
  line-height: 1.6;

  &--top {
    margin-top: 4rem;
  }

  @include respond(phablet) {
    line-height: 1.4;
  }
}
