$color-primary-blue: #6c92d8;
$color-secondary-green: rgb(119, 255, 142);

$color-black: #000000;

$color-dark-gray-1: #444444;
$color-dark-gray-2: #666;
$color-dark-gray-3: rgb(143, 143, 143);

$color-light-gray-1: #f7f7f7;
$color-light-gray-2: #ececec;

$color-white: #ffffff;