$color-primary-light: #95b3ea;
$color-primary-blue: #6c92d8;

$color-secondary-light: #a7ffb6;
$color-secondary-green: #77ff8e;
$color-secondary-dark: #1efd45;

$color-tertiary: #fbf501;
$color-tertiary-light: #fffb63;

$color-black: #000000;

$color-dark-gray-1: #444444;
$color-dark-gray-2: #666;
$color-dark-gray-3: rgb(143, 143, 143);

$color-light-gray-1: #f7f7f7;
$color-light-gray-2: #ececec;
$color-light-gray-3: #bebebe;

$color-white: #ffffff;