.button {
  padding: 2rem 2.5rem;
  border-radius: 50px;
  background-color: $color-dark-gray-2;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba($color-dark-gray-2, 0.6);
  transition: all 0.15s ease-in-out;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba($color-dark-gray-2, 0.9);
  }

  &--cta {
    width: 40rem;
    height: 7.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    background-color: $color-secondary-dark;
    opacity: 0.8;
    border: 3px solid $color-secondary-dark;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: $color-secondary-green;
    }

    @include respond(tab-land) {
      width: 47rem;
    }

    @include respond(phoneL) {
      width: 43rem;
    }

    @include respond(phoneL) {
      margin: 6rem auto;
    }
  }

  &--card {
    background-color: unset;
    padding: 1rem 1.3rem;
    margin-top: 1rem auto;
    border: 2px solid $color-green;
    box-shadow: unset;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:active {
      box-shadow: 0 0 5px rgba($color-green, 0.9);
      transform: unset;
    }
  }
}
