.button {
  padding: 2rem 2.5rem;
  border-radius: 50px;
  background-color: $color-dark-gray-2;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba($color-dark-gray-2, 0.6);
  transition: all 0.15s ease-in-out;

  &::selection {
    background: transparent;
  }

  &--cta {
    width: 40rem;
    height: 7.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto 8rem auto;
    background-color: $color-secondary-dark;
    opacity: 0.8;
    border: 3px solid $color-secondary-dark;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: $color-secondary-green;
      box-shadow: 0 0 10px rgba($color-dark-gray-2, 0.6);
      transform: scale(1.02);

      @include respond(phablet) {
        transform: none;
      }
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0 1px 6px rgba($color-dark-gray-2, 0.8);
      transform: scale(1.01);
      background-color: $color-secondary-green;
    }

    @include respond(phablet) {
      width: 100%;
    }
  }

  &--card {
    background-color: unset;
    padding: 1rem 2.8rem;
    margin-top: 1rem auto;
    border: 2px solid $color-green;
    box-shadow: unset;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s ease-in-out;

    &:hover {
      box-shadow: 0 0 5px rgba($color-green, 0.9);
    }

    &:active {
      box-shadow: 0 0 3px rgba($color-green, 0.9);
      transform: unset;
    }

    &-back {
      border: 2px solid $color-dark-gray-2;
      background-color: $color-white;
      padding: 1rem 2.8rem;
      box-shadow: 0 0 5px rgba($color-black, 0.5);

      &:hover {
        box-shadow: 0 0 5px rgba($color-black, 0.5);
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 2px 7px rgba($color-black, 0.4);
      }
    }
  }
}
