.button {
  padding: 2rem 2.5rem;
  border-radius: 50px;
  background-color: $color-dark-gray-2;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba($color-dark-gray-2, 0.6);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 1px 3px rgba($color-dark-gray-2, 0.9);
  }

  &--cta {
    margin: auto;
    width: 40rem;
    background-color: $color-secondary-dark;
    opacity: .8;
    border: 3px solid $color-secondary-dark;

    &:hover {
      background-color: $color-secondary-green;
    }
  }
}
