.card {
  background-color: $color-light-gray-1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba($color-dark-gray-1, 0.8);
  margin: 2.5rem;

  &--offer {
    width: 33rem;
    height: 52rem;
    margin: 2.5rem;

    @include respond(tab-port) {
      margin: 5rem 2.5rem;
    }

    @include respond(phoneL) {
      width: 94%;
    }

    @include respond(phoneS) {
      width: 100%;
    }

    @include respond(phoneS) {
      margin: 5rem 1rem;
    }
  }

  &__img {
    width: 100%;
    height: 50%;
    padding: 2rem;
    background-blend-mode: hard-light;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    &--1 {
      background-image: linear-gradient(
          to left bottom,
          rgba($color-primary-blue, 0.8),
          rgba($color-secondary-green, 0.8)
        ),
        url("./img/cyan-4.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to left bottom,
          rgba($color-primary-blue, 0.8),
          rgba($color-secondary-green, 0.8)
        ),
        url("./img/cyan-1.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to left bottom,
          rgba($color-primary-blue, 0.8),
          rgba($color-secondary-green, 0.8)
        ),
        url("./img/cyan-2.jpg");
    }
  }

  &__text {
    width: 100%;
    height: 50%;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__list {
    list-style-type: none;

    &-item {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }

  &__text-box {
    padding: 0 0.7rem;
    font-size: 2rem;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
      to left bottom,
      rgba($color-tertiary, 0.8),
      rgba($color-secondary-green, 0.8)
    );
  }

  &--2 {
    transform: scale(1.07);

    @include respond(tab-port) {
      transform: unset;
      order: -1;
    }
  }
}

.values-card {
  margin: 4rem 2.5rem;
  padding: 2.5rem;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-light-gray-1, 0.2),
      rgba($color-white, 0.2)
    ),
    url(./img/triangles.png);
  background-repeat: none;
  background-size: cover;

  @include respond(phoneL) {
    margin: 0 auto;
  }

  &__list {
    list-style-type: none;
    line-height: 2;

    .values-card__item {
      display: flex;
      align-items: center;
      border-bottom: 2px dotted $color-light-gray-3;

      .values-card__plus {
        color: $color-green;
        font-size: 3rem;
        margin-right: 2rem;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    @include respond(phone) {
      line-height: 1.4;
    }
  }

  &--second-card {
    @include respond(tab-land) {
      display: none;
    }
  }
}
