.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contact__phone {
    display: flex;
    margin-right: 4rem;
    cursor: pointer;

    .phone__icon {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem;
      fill: $color-light-gray-1;
    }
  }

  .contact__mail {
    display: flex;
    margin-right: 4rem;
    cursor: pointer;
    .mail__icon {
      height: 2.7rem;
      width: 2.7rem;
      margin-right: 1rem;

      fill: $color-light-gray-1;
    }
  }

  @include respond(small-screen) {
    display: none;
  }

  &--hero {
    display: none;
    position: absolute;
    bottom: 2rem;

    @include respond(small-screen) {
      display: flex;
      justify-content: space-around;
    }

    .contact__mail {
      margin-right: 0;
    }

    .contact__phone {
      margin-right: 5.3rem;
      @include respond(phoneS) {
        margin-right: 2.5rem;
      }
    }
  }
}
