.frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 26px rgba($color-black, 0.5);

  &::before {
    content: "";
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    border-radius: 2px;
    @include absoluteCenter;
    z-index: 0;
    background-color: $color-primary-blue;
  }
  &::after {
    content: "";
    width: 101%;
    height: 101%;
    border-radius: 2px;
    @include absoluteCenter;
    z-index: 2;
    background-color: $color-primary-blue;
    opacity: 0.2;
  }

  &--1 {
    &::after {
      content: "";
      background-color: transparent;
    }
  }

  &--2 {
    &::before {
      content: "";
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-green,
        $color-tertiary,
        $color-secondary-green
      );
    }

    &::after {
      content: "";
      background-color: $color-secondary-green;
      opacity: 0.1;
    }
  }

  .picture {
    position: relative;
    z-index: 1;
    border-radius: 2px;

    height: 43rem;

    @include respond(phablet) {
      height: 35rem;
    }

    @include respond(phoneL) {
      height: 30rem;
    }

    @include respond(phone) {
      height: 26rem;
    }

    @include respond(phoneS) {
      height: 22.6rem;
    }
  }
}
