.navbar {
  background-color: rgba($color-dark-gray-1, 0.88);
  width: 100%;
  height: 5.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 7px rgba($color-black, 0.4);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  .navbar__nav {
    .navbar__list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-left: 20px;
      list-style-type: none;

      .navbar__list-item {
        margin: 1rem;
        padding: 5px;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease-in;

        &:hover {
          border-color: $color-primary-blue;
        }
      }
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__logo {
    @include absoluteCenter;

    @include respond(tab-port) {
      margin-right: 10rem;
      position: unset;
      transform: unset;
    }

    @include respond(small-screen) {
      @include absoluteCenter;
    }

    @include respond(phoneL) {
      margin-left: 2rem;
      
    }

    @include respond(phoneS) {
      margin-left: 3rem;
      
    }
  }
}
