.navbar {
  background-color: rgba($color-dark-gray-1, 0.95);
  width: 100%;
  height: 5.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 7px rgba($color-black, 0.4);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  .navbar__nav {
    .navbar__list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-left: 20px;
      list-style-type: none;

      .navbar__list-item {
        margin: 1rem;
        padding: 5px;
        transition: all 0.2s ease-in;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 0;
          background-color: $color-primary-blue;
          transition: .3s width ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__logo {
    @include absoluteCenter;

    @include respond(tab-port) {
      margin-right: 10rem;
      position: unset;
      transform: unset;
    }

    @include respond(small-screen) {
      @include absoluteCenter;
    }
  }
}
