.screens {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;

  @include respond(phablet) {
    transform: scale(0.9);
  }

  @include respond(phoneL) {
    transform: scale(0.76);
  }

  @include respond(phone) {
    transform: scale(0.7);
  }

  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-gray-3;
    border-radius: 8px;
    margin: 0 1rem;

    &__inner {
      width: 93%;
      height: 90%;
      background-color: $color-white;
    }
  }

  &__desktop {
    .desktop {
      width: 51.2rem;
      height: 28.8rem;
      box-shadow: 0 2px 12px rgba($color-black, 0.4);
    }
    .desktop-neck {
      width: 6rem;
      height: 7rem;
      background-color: $color-dark-gray-3;
      margin: auto;
    }
    .desktop-stand {
      width: 15rem;
      height: 1rem;
      background-color: $color-dark-gray-3;
      margin: auto;
      border-radius: 3px;
      box-shadow: 0 5px 45px 2px rgba($color-black, 0.4);
    }
  }

  &__tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5rem;
    left: 28%;

    .tablet {
      width: 28.6rem;
      height: 14.8rem;
      box-shadow: 0 2px 12px 4px rgba($color-black, 0.4);
    }

    @include respond(laptop) {
      left: 23%;
    }

    @include respond(tab-port) {
      left: 13%;
    }

    @include respond(small-screen) {
      left: 9%;
    }

    @include respond(phablet) {
      left: 0%;
    }

    @include respond(phablet) {
      left: -14%;
    }

    @include respond(phone) {
      left: -20%;
    }
  }

  &__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5rem;
    right: 34%;

    .mobile {
      width: 9.6rem;
      height: 17rem;
      box-shadow: 0 2px 12px 4px rgba($color-black, 0.4);
    }

    @include respond(laptop) {
      right: 30%;
    }

    @include respond(tab-port) {
      right: 23%;
    }

    @include respond(small-screen) {
      right: 19%;
    }

    @include respond(phablet) {
      right: 10%;
    }

    @include respond(phoneL) {
      right: -5%;
    }

     @include respond(phone) {
      right: -14%;
    }
  }
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-blue, 1),
    rgba($color-secondary-green, 1)
  );

  &--mobile {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  &__nav {
    width: 100%;
    height: 2rem;
    background-color: $color-dark-gray-1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 3px rgba($color-black, 0.4);

    .nav-box {
      width: 2rem;
      height: 0.3rem;
      background-color: $color-light-gray-1;
      margin: 1rem;
    }

    .nav-sample-burger {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;

      &__bar {
        width: 2rem;
        height: 2px;
        background-color: $color-light-gray-1;
        margin: 1px 1rem;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30%;
    margin: 1rem 0;

    &--tablet {
      margin: 0.3rem 0;
    }

    &--mobile {
      margin: 0;
      height: 40%;
    }

    &--bottom {
      width: 105%;
      height: 2rem;
      background-color: $color-dark-gray-3;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      // position: absolute;
      // bottom: -2px;

      .mobile-circle-button {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid $color-white;
        border-radius: 100%;
      }
    }
  }

  .box {
    border-radius: 3px;
    background-color: $color-primary-light;
    box-shadow: 0 0 8px rgba($color-dark-gray-1, 0.7);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    &__content {
      width: 85%;
      height: 3px;
      background-color: $color-light-gray-1;

      &--big {
        height: 1rem;
        border-radius: 3px;
      }
    }

    &--big {
      width: 100%;
    }

    &--mid {
      width: 47%;
    }

    &--small {
      width: 30%;
    }

    &--tablet {
      width: 48%;
    }
  }
}
