.swipe__wrapper {
  width: 8rem;
  height: 20rem;
  margin-bottom: 2rem;
  background: transparent;
  border-radius: 40px;
  box-shadow: 0 0px 16px rgba($color-black, 0.5);
  -webkit-tap-highlight-color: transparent;
}

.swipe {
  width: 8rem;
  height: 20rem;
  background: transparent;
  border: 2px solid $color-light-gray-2;
  border-radius: 40px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  box-shadow: 0 0px 16px rgba($color-black, 0.5) inset;
  cursor: pointer;

  &__circle {
    width: 6rem;
    height: 6rem;
    background-image: radial-gradient($color-white, $color-light-gray-2);
    border-radius: 100%;
    margin-top: 0.6rem;
    box-shadow: 0 0 8px 2px rgba($color-black, 0.5);
  }
}
