.tiles {
  min-width: 40%;
  padding: 2rem;
  background-image: url(/img/cyclone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &__row {
    width: 100%;
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-around;

    &--3 {
      justify-content: space-between;
    }
  }

  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    color: $color-light-gray-1;
    background-image: radial-gradient(
      rgba($color-dark-gray-2, 0.9),
      rgba($color-dark-gray-1, 0.9)
    );
    box-shadow: 0 0 8px rgba($color-dark-gray-1, 0.7);
    transition: all .6s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 8px rgba($color-light-gray-1, 0.7);
    }


    &--webpack {
      height: 20rem;
      width: 20rem;
    }

    &__img {
      height: 10rem;
      &--webpack {
        height: 15rem;
      }
      &--photoshop {
        height: 9rem;
      }
      &--js {
        height: 9rem;
      }
    }
  }
}
