.tiles {
  min-width: 40%;
  padding: 2rem;
  background-image: url(/img/cyclone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &--2 {
      margin-top: 4rem;

      @include respond(phoneS) {
        margin-top: 3rem;
      }
    }

    &--3 {
      justify-content: space-between;
    }
  }

  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    color: $color-light-gray-1;
    background-image: radial-gradient(
      rgba($color-dark-gray-2, 0.9),
      rgba($color-dark-gray-1, 0.9)
    );
    box-shadow: 0 0 8px rgba($color-black, 0.7);
    transition: all 0.6s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 18px rgba($color-black, 0.8);
    }

    @include respond(phablet) {
      width: 10rem;
      height: 10rem;
    }

    &--webpack {
      height: 20rem;
      width: 20rem;
      @include respond(phablet) {
        width: 15rem;
        height: 15rem;
      }
    }

    &__img {
      height: 10rem;
      @include respond(phablet) {
        height: 7.6rem;
      }
      &--webpack {
        height: 15rem;
        @include respond(phablet) {
          height: 12rem;
        }
      }
      &--photoshop {
        height: 9rem;
        @include respond(phablet) {
          height: 7rem;
        }
      }
      &--js {
        height: 9rem;
        @include respond(phablet) {
          height: 6rem;
        }
      }
    }
  }
}
