.section__offer {
  .offer__wrapper {
    display: flex;
    align-items: center;
    margin-top: -12rem;
    width: 100%;
    min-height: 94vh;
    background-image: linear-gradient(
      to right,
      rgba($color-dark-gray-1, 1),
      rgba($color-primary-blue, 1)
    );
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);

    @include respond(tab-land) {
      clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    }

    @include respond(tab-port) {
      clip-path: none;
      margin-top: 0;
    }
  }

  .offer {
    width: 100%;
    min-height: 92vh;
    padding: 0 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    background-image: linear-gradient(
      to bottom,
      rgba($color-light-gray-1, 0.9),
      rgba($color-light-gray-2, 0.9)
    );

    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);

    @include respond(tab-land) {
      clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    }

    @include respond(tab-port) {
      clip-path: none;
    }

    &__row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
      margin-bottom: 4rem;

      @include respond(laptop) {
        margin: 4rem 0;
      }

      @include respond(tab-port) {
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
      }
    }
  }
}
