.tech__wrapper {
  display: flex;
  align-items: center;
  margin-top: -12rem;
  width: 100%;
  height: 102vh;
  background-image: linear-gradient(
    to right,
    rgba($color-dark-gray-1, 1),
    rgba($color-primary-blue, 1)
  );
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}

.tech {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient($color-dark-gray-2, $color-dark-gray-1);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}
