.hero {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-blue, 0.8),
      rgba($color-secondary-green, 0.8)
    ),
    url(/img/work.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
