.about {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    $color-light-gray-1,
    $color-light-gray-2,
    $color-light-gray-3
  );
  // background-image: url(/img/chained-pattern.png);
  margin-top: -10rem;
  border-bottom: 3px solid $color-primary-blue;
  display: flex;
  display: flex;
  flex-flow: column;
  align-items: center;

  @include respond(laptop) {
    margin-top: -12rem;
  }

  @include respond(small-screen) {
    margin-top: 0;
  }

  &__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    margin-top: 15rem;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(small-screen) {
      width: 80%;
      margin-top: 7rem;
    }

    @include respond(phablet) {
      width: 90%;
    }
  }

  &__action {
    width: 100%;
  }

  .call-to-action {
    width: 60%;
    margin: 4rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @include respond(phablet) {
      width: 90%;
    }
    @include respond(phoneL) {
      margin: 0 auto;
    }
  }
}
