.section-about {
  width: 100%;
  min-height: 111vh;
  margin-top: -10rem;
  background-image: radial-gradient($color-light-gray-1, $color-light-gray-2);

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7rem;
    &__text {
      width: 44%;
      padding: 2rem;
      padding-right: 3rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
  }
}
