.section__tech {
  .tech {
    width: 100%;
    min-height: 100rem;
    height: 110vh;
    padding: 0 2rem;
    background-image: radial-gradient(
      rgba($color-dark-gray-2,.8), 
      rgba($color-dark-gray-1,.8)
      ),
     url('./img/stars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1px;

    @include respond(small-screen) {
      margin-top: 0;
    }
    &__text {
      width: 44%;
      padding: 2rem;
      padding-right: 3rem;
      display: flex;
      flex-flow: column;
      justify-content: center;

      @include respond(small-screen) {
        width: 100%;
        margin-top: 4rem;
      }
    }
    .tiles {
      @include respond(laptop) {
        width: 50%;
      }
      @include respond(small-screen) {
        width: 100%;
      }
    }
  }
}
