.section__about {
  .about {
    width: 100%;
    min-height: 120rem;
    height: 110vh;
    margin-top: -10rem;
    background-image: radial-gradient($color-dark-gray-2, $color-dark-gray-1);
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7rem;

    @include respond(small-screen) {
      padding-top: 5rem;
      margin-top: 0;
    }
    &__text {
      width: 44%;
      padding: 2rem;
      padding-right: 3rem;
      display: flex;
      flex-flow: column;
      justify-content: center;

      @include respond(small-screen) {
        width: 100%;
      }
    }
    .tiles {
      @include respond(laptop) {
        width: 50%;
      }
      @include respond(small-screen) {
        width: 100%;
      }
    }
  }
}
