.hero__wrapper {
  background-image: linear-gradient(
    to right,
    rgba($color-primary-blue, 1),
    rgba($color-dark-gray-1, 1)
  );
  background-color: $color-dark-gray-1;
  height: 100vh;
  min-height: 71rem;
  width: 100%;
  -webkit-clip-path: ellipse(100% 65% at 50% 35%);
  clip-path: ellipse(100% 64% at 50% 35%);

  @include respond(small-screen) {
    clip-path: none;
  }
}

.hero {
  height: 99vh;
  min-height: 70rem;
  padding: 0 2rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-blue, 0.8),
      rgba($color-secondary-green, 0.8)
    ),
    url("./img/work.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-clip-path: ellipse(100% 65% at 50% 35%);
  clip-path: ellipse(100% 64% at 50% 35%);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  @include respond(small-screen) {
    clip-path: none;
  }
}
